/*-----------------------------------------------------*/
/*------------------COLORS-AND-FONTS-------------------*/
/*-----------------------------------------------------
#FFD100
RGB 255 209 0
#25282A
RGB 37 40 42
#54585A
RGB 84 88 90
#898D8D
RGB 137 141 141
#C7C9C7
RGB 199 201 199

font-family: ;
font-family: ;
font-family: ;
font-family: ;
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*---------------------RESPONSIVE----------------------*/
/*-----------------------------------------------------*/
@media screen and (min-width:576px)/*smartphones, Android phones, landscape iPhone*/
    {}